
body{
    font-family: Arial;
    background:#0F172A;
    color: white;
    padding: 10px;
}

.conteiner{
    width: 650px;
    background-color:#1E293B;
    border-radius: 6px;
    margin: 40px auto;
    padding: 25px;
}

nav ul{
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 20px;
    background-color: #6366F1;
    border-radius: 20px;
    height: 30px;
    line-height: 2.0;
}

h1,h2,p{
    color: #F8FAFC;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}


h1, h2 {
    text-align: left;
}

footer{
    text-align: center;
    background-color:#6366F1;
    border-radius: 20px;
    height: 30px;
    line-height: 2.0;
}

section{
    margin: 50px;

}
